/* img {
    width: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
} */



/* .item img {
  width: 30%;
} */


.item .content{
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.lightBoxContainer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.597);
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightBox{
width: 600px;
height: 60vh;
background-image: url(4.jpg);
background-size: cover;
background-position: center;
position: relative;
}
.lightBox i {
  margin: 15px;
  font-size: 24px;
cursor: pointer;
}
.lightBox #close{
  position: absolute;
  top: 0;
  right: 0;
}